name: Playwright Tests
on:
  workflow_dispatch:
    inputs:
      test_env:
        description: 'Environment to run tests against'
        required: true
        type: choice
        default: qa
        options:
          - qa
          - dev
      browser:
        description: 'Browser to run tests against'
        required: true
        type: choice
        default: chromium
        options:
          - chromium
          - firefox
          - webkit
      parallel:
        description: 'Run tests in parallel'
        required: true
        type: choice
        default: '1'
        options:
          - '1'
          - '2'
          - '3'
          - '4'
jobs:
  playwright_test:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Init workflow variables
        env:
          DEFAULT_ENV: 'qa'
          DEFAULT_BROWSER: 'chromium'
        run: |
          echo "TEST_ENV=${{ inputs.test_env || env.DEFAULT_ENV }}" >> $GITHUB_ENV
          echo "TEST_BROWSER=${{ inputs.browser || env.DEFAULT_BROWSER }}" >> $GITHUB_ENV
      - name: Set up workflow variables
        run: |
          export NODE_ENV=${{ env.TEST_ENV }}
          export BROWSER=${{ env.TEST_BROWSER }}
          export PARALLEL=${{ github.event.inputs.parallel }}
          echo ">>>>>> Test environment is: $NODE_ENV"
          echo ">>>>>> Test browser is: $BROWSER"
          echo ">>>>>> Test parallel is: $PARALLEL"

      - name: Run all Playwright tests in sequential mode
        if: github.event.inputs.parallel == ''
        run: npx playwright test --project=$BROWSER
      - name: Run all Playwright tests in parallel mode
        if: github.event.inputs.parallel != ''
        run: npx playwright test --project=${{ env.TEST_BROWSER }} --workers=${{ github.event.inputs.parallel }}
      # - uses: actions/upload-artifact@v4
      #   if: ${{ !cancelled() }}
      #   with:
      #     name: playwright-report
      #     path: playwright-report/
      #     retention-days: 30
